footer.footer#footer
    .footer__container

        .footer__top 
            .footer__block.footer__block--left

                p.footer__city Ярославль

                .footer__info 

                    span Ярославская область, г.Ярославль, ул.Выставочная, д.12 
                    span пн.-пт. 9.00 - 19.00,&shy; сб. 9.00 - 18.00,&shy; вс. 9.00 - 17.00

                a.footer__phone(href="tel:84852732832") 8 (4852) 73-2832
                a.footer__email(href="mailto:help@bigam.ru") help@bigam.ru
                a.footer__feedback(href="#") Обратная связь


            .footer__block.footer__block--right

                .footer__first 

                    .footer__logo
                        img(src="./images/logo_footer.svg", alt="logo")

                    a.footer__freecall(href="tel:88005556973") Бесплатный звонок#[br] 8-800-555-69-73

                    a.footer__site(href="bigam.ru" target="_blank") bigam.ru


                .footer__second 

                    .footer__info 

                        a.footer__policy(href="#") Политика конфиденциальности
                        a.footer__personality(href="#") Обработка персональных данных

                    .footer__social
                        a.footer__social_link(href="#"): img(src="./images/vk.svg", alt="Вконтакте")
                        a.footer__social_link(href="#"): img(src="./images/ok.svg", alt="Одноклассники")
                        a.footer__social_link(href="#"): img(src="./images/twitter.svg", alt="Твиттер")
                        a.footer__social_link(href="#"): img(src="./images/youtube.svg", alt="Youtube")
                        a.footer__social_link(href="#"): img(src="./images/telegram.svg", alt="Телеграм")


        p.footer__copyright &copy; 2009-2024, ООО "БИГАМ-Инвест". Все права защищены
