.about {
    position: relative;
    overflow: hidden;
    padding: 50px 0 74px 17.53%;

    @include sm {
        padding: 40px 0 60px 17.53%;
    }

    @include xxs {
        padding: 20px 0 40px 5%;
    }
}

.about__backstage {
    position: absolute;
    top: -100px;
    left: -70px;
    z-index: 3;
    width: 34%;
    height: 125%;
    min-height: 992px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center right;
    }

    @include sm {
        left: -40px;
    }

    @include xxs {
        left: -90px;
    }
}

.about__suptitle {
    margin-bottom: 40px;
    color: $color_blue;
    font-family: $font_old;
    font-size: 40px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @include sm {
        font-size: 32px;
    }

    @include xs {
        margin-bottom: 30px;
        font-size: 24px;
    }
}

.about__title {
    position: relative;
    margin-bottom: 23px;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    color: $color_white;

    span {
        position: relative;
        z-index: 2;
        padding-right: 10.52%;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 50%;
            z-index: -1;
            display: block;
            width: 124%;
            height: 150%;
            background-color: $color_orange;
            transform: translate(54%, -50%) skew(30deg);
        }
    }

    @include sm {
        font-size: 20px;

        span {
            padding-right: 8%;
        }
    }

    @include xs {
        margin-bottom: 15px;
        font-size: 16px;
    }

    @include xxs {
        padding: 0 10px;
        text-align: left;
        font-size: 14px;

        span {
            display: block;
            padding-right: 0;

            &::after {
                left: -10px;
                right: unset;
                transform: translate(0, -50%) skew(30deg);
            }
        }
    }
}

.about__info {
    margin-bottom: 40px;
    padding-right: 10.52%;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;

    @include sm {
        margin-bottom: 30px;
        font-size: 16px;
    }

    @include xs {
        margin-bottom: 30px;
        font-size: 14px;
    }

    @include xxs {
        font-size: 12px;
    }
}

.about__author {
    position: relative;
    margin-bottom: 60px;
    padding-left: 16%;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;

    & > span {
        display: inline-block;
        max-width: 545px;

        span {
            text-decoration: underline;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 60px;
        z-index: 1;
        display: block;
        width: 61px;
        height: 57px;
        transform: translateY(-50%);
        background: url("../images/quill.svg") center / contain no-repeat;
    }

    @include sm {
        margin-bottom: 50px;
        font-size: 20px;

        &::after {
            left: 20px;
        }
    }

    @include xs {
        margin-bottom: 30px;
        font-size: 16px;

        &::after {
            width: 30px;
            height: 28px;
        }

        & > span {
            max-width: unset;
            width: 76%;
        }
    }

    @include xxs {
        padding: 0 10px;
        display: flex;
        gap: 0 10px;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        &::after {
            position: static;
            order: 1;
            flex-shrink: 0;
        }

        span {
            order: 2;
            flex: 1 1 auto;
            width: auto;
        }
    }
}

.about__directors {
    position: relative;
    margin-bottom: 63px;

    span {
        position: relative;
        z-index: 2;
        display: block;
        max-width: 500px;
        margin-left: 64px;
        font-size: 20px;
        line-height: 1.05;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            display: block;
            width: 200vw;
            height: 150%;
            background-color: $color_orange;
            transform: translate(-50%, -50%);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -12px;
        z-index: 3;
        display: block;
        width: 54px;
        height: 54px;
        transform: translateY(-50%);
        background: url("../images/actor-silhouette.svg") center / contain
            no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        top: 45%;
        right: 38px;
        z-index: 3;
        display: block;
        width: 228px;
        height: 154px;
        transform: translateY(-50%);
        background: url("../images/bravo.svg") center / contain no-repeat;
    }

    @include md {
        &:after {
            top: 50%;
            right: 1%;
            width: 208px;
            height: 140px;
        }
    }

    @include sm {
        margin-bottom: 50px;

        span {
            width: 62%;
            max-width: unset;
            font-size: 16px;
        }

        &::after {
            // top: 40%;
            width: 150px;
            height: 101px;
        }
    }

    @include xs {
        margin-bottom: 30px;
        font-size: 14px;

        span {
            margin-left: 40px;

            &::after {
                height: 120%;
            }
        }

        &:before {
            width: 27px;
            height: 27px;
        }

        &::after {
            width: 120px;
            height: 81px;
        }
    }

    @include xxs {
        display: flex;
        gap: 0 10px;
        align-items: center;
        padding: 0 10px;

        &::before {
            position: static;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
        }

        &::after {
            top: -10px;
            right: 3px;
            width: 90px;
            height: 61px;
            transform: none;
        }

        span {
            margin-left: 0;
            font-size: 12px;
        }
    }

    @include r(350px) {
        &::after {
            display: none;
        }
    }
}

.about__roles {
    position: relative;
    margin-bottom: 65px;
    padding-left: 16.04%;
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 60px;
        z-index: 1;
        display: block;
        width: 56px;
        height: 41px;
        transform: translateY(-50%);
        background: url("../images/masks-icon.svg") center / contain no-repeat;
    }

    @include sm {
        margin-bottom: 50px;
        font-size: 20px;

        &::after {
            left: 20px;
        }
    }

    @include xs {
        margin-bottom: 30px;
        font-size: 16px;

        &::after {
            width: 30px;
            height: 28px;
        }
    }

    @include xxs {
        display: flex;
        gap: 0 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-size: 14px;

        &::after {
            position: static;
            order: 1;
            width: 30px;
            height: 28px;
            flex-shrink: 0;
            transform: none;
        }

        span {
            order: 2;
            flex: 1 1 auto;
        }
    }
}

.about__winner {
    position: relative;
    display: flex;
    gap: 0 20px;
    align-items: center;
    margin-bottom: 67px;

    span {
        position: relative;
        z-index: 2;
        display: block;
        width: 63.64%;
        padding-left: 10%;
        font-size: 20px;
        line-height: 1.05;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 10%;
            z-index: -1;
            display: block;
            width: 180%;
            height: 150%;
            background-color: $color_orange;
            transform: translateY(-50%) skew(30deg);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 92px;
        z-index: 3;
        display: block;
        width: 63px;
        height: 80px;
        transform: translateY(-50%);
        background: url("../images/clapping-hands.svg") center / contain
            no-repeat;
    }

    @include sm {
        margin-bottom: 55px;

        &::before {
            left: 2%;
        }

        span {
            font-size: 16px;

            &::after {
                width: 200%;
                left: -5%;
            }
        }
    }

    @include xs {
        margin-bottom: 35px;
        font-size: 14px;

        span {
            &::after {
                height: 120%;
            }
        }

        &::before {
            width: 30px;
            height: 40px;
        }
    }

    @include xxs {
        padding: 0 10px;

        &::before {
            display: none;
        }

        span {
            padding-left: 0;
            font-size: 12px;

            &::after {
                left: -35%;
                transform: translateY(-50%) skew(0);
            }
        }
    }
}

.about__certificate_preview {
    position: relative;
    width: 28%;
    height: 100%;

    a {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        display: block;
        width: 100%;
        transform: translateY(-50%);
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.about__duration {
    position: relative;
    display: flex;
    gap: 0 20px;
    align-items: center;

    span:nth-child(1) {
        display: block;
        width: 63.64%;
        padding-left: 14%;
        font-size: 20px;
        line-height: 1.05;
        font-weight: 700;
        text-transform: uppercase;
        // text-align: right;
    }

    span:nth-child(2) {
        display: block;
        width: 28%;
        height: 100%;
    }

    @include sm {
        span:nth-child(1) {
            font-size: 16px;
        }
    }

    @include xs {
        font-size: 14px;

        span:nth-child(1) {
            padding-left: 8%;
        }
    }

    @include xxs {
        padding: 0 10px;

        span:nth-child(1) {
            padding: 0;
            font-size: 12px;
            text-align: right;
        }
    }
}
