.footer {
    background-color: rgb(46, 46, 46);
    color: $color_white;
}

.footer__container {
    width: 100%;
    max-width: 1087px;
    margin: 0 auto;
    padding: 20px 64px;

    @include sm {
        padding: 20px 54px;
    }

    @include xs {
        padding: 20px 30px;
    }
}

.footer__top {
    display: flex;
    gap: 0 50px;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #8a8a8a;

    @include xxs {
        flex-direction: column;
    }
}

.footer__block--right {
    @include xxs {
        order: 1;
        margin-top: 20px;
    }
}

.footer__block--left {
    @include xxs {
        order: 2;
        margin-top: 20px;
    }
}

.footer__city {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}

.footer__info {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;

    span {
        display: block;
        width: 100%;
    }
}

.footer__block--right {
    display: flex;
    gap: 0 30px;

    @include sm {
        display: block;
    }
}

.footer__phone,
.footer__email,
.footer__feedback {
    display: block;
    width: max-content;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.footer__logo {
    width: 169px;
    margin-bottom: 20px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.footer__freecall {
    display: block;
    width: max-content;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
}

.footer__site {
    color: #575757;
}

.footer__first {
    @include sm {
        margin-bottom: 30px;
    }
}

.footer__second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__policy,
.footer__personality {
    display: block;
    width: max-content;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: underline;
}

.footer__social {
    display: flex;
    gap: 0 12px;
    justify-content: flex-end;
    align-items: center;

    @include xxs {
        justify-content: flex-start;
    }
}

.footer__social_link {
    display: block;
    width: 24px;
    height: 24px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

.footer__copyright {
    padding: 20px 0;
    font-size: 14px;
    opacity: 0.7;
}
