@font-face {
    font-family: "Grtsk Peta";
    src: url("../fonts/GrtskPeta-Semibold.woff2") format("woff2"),
        url("../fonts/GrtskPeta-Semibold.woff") format("woff"),
        url("../fonts/GrtskPeta-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica-7";
    src: url("../fonts/Helvetica-7-Bold.woff2") format("woff2"),
        url("../fonts/Helvetica-7-Bold.woff") format("woff"),
        url("../fonts/Helvetica-7-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
        url("../fonts/HelveticaNeue-Bold.woff") format("woff"),
        url("../fonts/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Minion Pro";
    src: url("../fonts/MinionPro-Regular.woff2") format("woff2"),
        url("../fonts/MinionPro-Regular.woff") format("woff"),
        url("../fonts/MinionPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"),
        url("../fonts/MullerBold.woff") format("woff"),
        url("../fonts/MullerBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff"),
        url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Old Standard TT";
    src: url("../fonts/OldStandardTT-Bold.woff2") format("woff2"),
        url("../fonts/OldStandardTT-Bold.woff") format("woff"),
        url("../fonts/OldStandardTT-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Old Standard TT";
    src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"),
        url("../fonts/OldStandardTT-Regular.woff") format("woff"),
        url("../fonts/OldStandardTT-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Old Standard TT";
    src: url("../fonts/OldStandardTT-Italic.woff2") format("woff2"),
        url("../fonts/OldStandardTT-Italic.woff") format("woff"),
        url("../fonts/OldStandardTT-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
